/*
*
* Styles for Admin Options Page
*
*/

.skillcrushstarter-main-options-page {
  margin-top: 40px;
}

.skillcrushstarter-general-form,
.skillcrushstarter-sidebar-preview {
  display: inline-block;
  float: left;
}

.skillcrushstarter-sidebar-preview {
  width: 280px;
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
  margin-right: 30px;
}

.skillcrushstarter-sidebar {
  display: block;
  text-align: center;
  }

input.user_description {
  width: 330px;
  max-width: 100%;
}
  h1.skillcrushstarter-username,
  h2.skillcrushstarter-description {
    font-weight: 100;
    color: #FFF;
  }
  h1.skillcrushstarter-username {
    font-size: 24px;
    margin: 0 0 10px;
  }
  h2.skillcrushstarter-description {
    font-size: 13px;
    margin: 0 0 20px;
  }

  .image-container {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .profile-picture {
    width: 122px;
    height: 122px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
